---
const { section, title, subtitle } = Astro.props
---

{
  section ? (
    <div class='font-bold mb-2'>
      <a
        href={`/${section.toLowerCase()}`}
        class='inline text-6xl text-indigo-200
          hover:border-opacity-100
          border-b-4 border-opacity-0 border-indigo-200 transition-all duration-300 ease-in-out pr-1'
        transition:name='title'
        transition:animate='none'
      >
        {section}
      </a>
      <span class='text-6xl text-indigo-200 mx-2'>/</span>
      <h1 class='lg:inline text-4xl text-indigo-400' transition:animate='slide'>
        {title}
      </h1>
    </div>
  ) : (
    <h1
      class='text-6xl font-bold text-indigo-400 mb-2'
      transition:name='title'
      transition:animate='slide'
    >
      {title}
    </h1>
  )
}

{subtitle && <p class='text-3xl text-indigo-200'>{subtitle}</p>}
