---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

import SkillChip from '@/components/UI/SkillChip.astro'

type Props = {
  work: CollectionEntry<'work'>
}

const { work } = Astro.props
---

<a
  class='bg-indigo-100 overflow-hidden rounded hover:bg-blue-200 hover:cursor-pointer shadow-sm hover:shadow-md
  transition duration-300 ease-in-out flex flex-col'
  href={'/work/' + work.slug}
>
  {
    work.data.thumbnail && (
      <Image
        class='w-full h-40 object-cover object-center'
        src={work.data.thumbnail}
        alt={work.data.title}
      />
    )
  }
  <!-- card body -->
  <div class='p-4 text-indigo-500 flex-1 flex flex-col'>
    <h1
      class='text-lg inline text font-bold text-indigo-900'
      transition:name={`title-${work.slug}`}
    >
      {work.data.title}
    </h1>
    {
      work.data.product && (
        <p
          class='text-lg block font- text-indigo-700 mb-2'
          transition:name={`product-${work.slug}`}
        >
          {work.data.product}
        </p>
      )
    }
    {
      work.data.description && (
        <p
          class='text-sm flex-1 text-gray-600 mb-2'
          transition:name={`description-${work.slug}`}
        >
          {work.data.description}
        </p>
      )
    }
    {
      work.data.skills && work.data.skills.length > 0 && (
        <div
          class='flex flex-wrap gap-4 mt-2'
          transition:name={`skills-${work.slug}`}
        >
          {work.data.skills.map((skill) => (
            <SkillChip id={skill.id} />
          ))}
        </div>
      )
    }
  </div>
</a>
