---
import { ViewTransitions } from 'astro:transitions'
import Title from '@/components/Layout/Title.astro'
import Nav from '@/components/Layout/Nav.astro'
import Footer from '@/components/Layout/Footer.astro'
import MobileHeader from '@/components/Layout/MobileHeader'
import DesktopAside from '@/components/Layout/DesktopAside.astro'
const { title, section, subtitle, pageDescription, bgColor, txtColor, font } =
  Astro.props

const seoTitle = `Ricard Alsina | ${title ? title : 'Full stack Web Developer 💻'}`
const pageTitle = title ? title : 'Ricard Alsina'
const seoDescription = pageDescription
  ? pageDescription
  : "Passionate full stack web dev open to freelance. Let's create something awesome! 🚀"
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icom' href='/dev.ico' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={seoDescription} />
    <title>{seoTitle}</title>
    <ViewTransitions />
  </head>
  <body class={bgColor}>
    <div class='relative md:flex h-screen'>
      <div class='md:hidden'>
        <MobileHeader client:idle>
          <Nav />
        </MobileHeader>
      </div>
      <div class='hidden md:block'>
        <DesktopAside />
      </div>

      <div class='flex-1 min-h-screen overflow-y-auto flex flex-col'>
        <main
          transition:animate='fade'
          class='p-10 md:px-20 text-indigo-900 flex-1 flex flex-col mb-10'
        >
          <Title section={section} title={pageTitle} subtitle={subtitle} />

          <div
            class={`${font ? font : ''} mt-10 md:mt-20 ${txtColor ? txtColor : 'text-green-300 '}`}
          >
            <slot />
          </div>
        </main>
        <Footer />
      </div>
    </div>
    <style is:global>
      ::-moz-selection {
        /* Firefox */
        color: #fff;
        background: #1e1b4b;
      }

      ::selection {
        color: #fff;
        background: #1e1b4b;
      }

      html,
      body {
        width: 100%;
        height: 100%;
      }

      body {
        background-color: #0c0c0c;
      }
    </style>
  </body>
</html>
